---
title:  本地和远程成员与缓存
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

对于许多Apache Geode讨论，您需要了解本地和远程成员与缓存之间的区别。

<a id="local_vs_remote_member_and_cache__section_5535DC4C94494B6A9B106DA39F63A439"></a>

关于Geode成员和缓存活动的讨论中通常区分本地和远程。 本地缓存总是指正在讨论的中心成员，如果有这样一个明显的成员，而远程是指其他成员。 如果没有明确的单一的本地成员，则讨论将通过分配名称给成员来区分。 成员Q本地的操作，数据，配置等在成员Q过程中运行或驻留。 运行，数据，配置等等，“远程Q”运行或驻留在某个其他成员内部。

本地缓存是属于本地成员的缓存。 所有其他缓存都是远程的，无论是在同一分布式系统的其他成员，还是在不同的分布式系统中。


