---
title:  关于 Apache Geode
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

Apache Geode 是一个数据管理平台， 遍布广泛分布的云架构， 针对数据关键型应用，提供了实时，一致的访问机制

<a id="concept_3B5E445B19884680900161BDF25E32C9__section_itx_b41_mr"></a>
Geode 池化了服务器上的内存, CPU, 网络资源和本地磁盘，跨多个进程来管理应用对象和应用行为. 它使用了动态数据复制和分区技术来实现高可用, 高性能, 高可扩展性和容错机制. 另外, 对于一个分布式数据容器, Apache Geode 是一个基于内存的数据管理系统, 提供了可靠的异步事件通知和可靠的消息投递.

## <a id="concept_3B5E445B19884680900161BDF25E32C9__section_0031B81824874FC18F0828DB66150833" class="no-quick-link"></a>主要概念和模块

*Caches* 是一个抽象的概念, 用于在一个 Geode 分布式系统中用于描述一个节点。  应用架构师可以通过peer-to-peer或client/server拓扑架构来排布这些节点。

在每一个cache 中, 你可以定义 *data regions*. Data regions 类似于传统关系型数据库中的'表'（table）的概念, 以分布式的方式来管理数据 , 表现为Key/Value对的形式. 一个 *replicated region*  保存相同的数据拷贝在分布式系统的每个Cache成员上。 一个 *partitioned region* 则在cache成员间传播数据。 在系统配置后, 客户端应用能够访问regions 中的分布式数据， 而不需要知道系统整体架构。你能够定义监听器（listeners）来接收数据发生变化时的通知, 同时你也能够定义超时标准来删除在一个 region 中的需要废弃掉的数据。

在一个大型生产环境系统中， Geode提供*locators*节点。Locators提供了节点发现和负载均衡服务。你可以通过在客户端配置带有 locator服务列表, 同时 locators 维护一个成员服务器的动态列表. 默认情况下, Geode 客户端和服务器使用端口 40404 来进行互相发现.

<a id="concept_3B5E445B19884680900161BDF25E32C9__section_zrl_c41_mr"></a>

关于Geode的更多产品功能的信息， 请参考[Apache Geode的主要功能](product_intro.html).
