---
title:  主机要求
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

主机必须满足Apache Geode的一系列要求。

<a id="system_requirements__section_1E1F206FBC8B4A898A449E0699907A7A"></a>
运行Apache Geode的每台机器必须满足以下要求：

-   Java SE Development Kit 8或更新版本。
-   系统时钟设置为正确的时间, 同时设置正确的时间同步服务，如网络时间协议（NTP）。正确的时间戳可以进行以下活动:
    -   用于故障排除的日志。同步时间戳可确保来自不同主机的日志消息可以合并，以再现分布式运行的精确时间历史。
    -   综合产品级和应用级时间统计。 
    -   正确的使用脚本, 和其他读取系统统计信息和日志文件的工具对Geode系统进行准确的监控。
-   正确配置主机名和hosts文件。主机名和hosts文件配置可能会影响gfsh和Pulse功能
-   许多默认的Linux安装配置使用SYN cookie来保护系统免遭洪泛TCP SYN数据包的恶意攻击。使用SYN cookie可以显著降低网络带宽，并可以由运行的分布式系统触发。

    要永久禁用SYN Cookie:
    1. 编辑 `/etc/sysctl.conf` 文件,增加下面一行内容:

        ``` pre
        net.ipv4.tcp_syncookies = 0
        ```
        把这个值设为 0 可以禁用 SYN cookies.
    2. 重新加载 `sysctl.conf`:

        ``` pre
        sysctl -p
        ```
