---
title:  如何安装
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

通过从源代码构建或使用ZIP或TAR分发方式，在将要运行Apache Geode的每个物理机和虚拟机上安装Apache Geode。

## 在Unix上用源代码构建

1.  设置环境变量 JAVA\_HOME

    ``` pre
    JAVA_HOME=/usr/java/jdk1.8.0_60
    export JAVA_HOME
    ```

2.  从 [http://geode.apache.org](http://geode.apache.org/)的 Release页面上下载源代码, 并解压.
3.  在包含解压的源代码的目录中, 无测试构建:

    ``` pre
    $ ./gradlew build -Dskip.tests=true
    ```

    或者, 有测试构建:

    ``` pre
    $ ./gradlew build 
    ```

4.  通过调用`gfsh`来打印版本信息来验证安装正确。 在Linux / Unix平台上，版本信息将类似于:
    ``` pre
    $ cd geode-assembly/build/install/apache-geode
    $ bin/gfsh version
    v1.1.0
    ```

## 在Windows上用源代码构建

1.  设置环境变量 JAVA\_HOME:

    ``` pre
    $ set JAVA_HOME="C:\Program Files\Java\jdk1.8.0_60" 
    ```

2.  安装Gradle 2.3或更新版本.
3.  从 [http://geode.apache.org](http://geode.apache.org/)的 Release页面上下载源代码, 并解压.
4.  在包含解压的源代码的目录中, 无测试构建:

    ``` pre
    $ gradle build -Dskip.tests=true
    ```

    或者, 有测试构建:

    ``` pre
    $ gradle build
    ```

5.  通过调用`gfsh`来打印版本信息来验证安装正确。

    ``` pre
    $ cd geode-assembly\build\install\apache-geode\bin
    $ gfsh.bat version
    v1.1.0
    ```

## <a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_D3326496B2BB47A7AB0CFC1A5E266842" class="no-quick-link"></a>从.zip或.tar文件安装二进制文件

1.  从 [http://geode.apache.org](http://geode.apache.org/)的 Release页面上 下载 .zip文件或 .tar文件.
2.  解压.zip文件或 .tar文件, `path_to_product` 是绝对路径, 文件名将因版本号而有所不同.  
    .zip 文件格式:

    ``` pre
    $ unzip apache-geode-1.1.0.zip -d path_to_product
    ```

    .tar文件格式:

    ``` pre
    $ tar -xvf apache-geode-1.1.0.tar -C path_to_product
    ```

3.  设置环境变量 JAVA\_HOME.
    Linux/Unix 平台:

    ``` pre
    JAVA_HOME=/usr/java/jdk1.8.0_60
    export JAVA_HOME
    ```

    Windows平台:

    ``` pre
    set JAVA_HOME=c:\Program Files\Java\jdk1.8.0_60 
    ```

4.  将Geode脚本添加到PATH环境变量中.
	Linux/Unix 平台:

    ``` pre
    PATH=$PATH:$JAVA_HOME/bin:path_to_product/bin
    export PATH
    ```

    Windows平台:

    ``` pre
    set PATH=%PATH%;%JAVA_HOME%\bin;path_to_product\bin 
    ```

5.  要验证安装，请在命令行中键入`gfsh version`，并关注输出列出了安装的Geode版本。举例如下:

    ``` pre
    $ gfsh version
    v1.1.0
    ```

    有关更详细的版本信息，如构建日期，正在使用的版本号和JDK版本，请调用:

    ``` pre
    $ gfsh version --full
    ```


